* {
    background-color: white;
}

html {
    font-family: arial, sans-serif;
    font-size: 18px;
}

.elts{
    margin-right: 25px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search {
   padding: 20px;
}

input [type=text] {
    border: 20px;
}

.milieu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    align-content: space-around;
}


.foot {
    /*display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-right: -40px;*/

    margin-top: -50px;
    background-color: #ffffffa1;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    
}

.headbar {
    display: flex;
    align-items:flex-start;
    flex-direction: row-reverse;
    font-size: 18px;
}

li:hover {
    font-style: underline;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.btn {
    font-size: 16px;
    padding: 0 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 42px;
    font-size: 18px;
}

button {
    background-color: #f8f9fa;
    border: none;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    margin: 2%;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    border: 0.5px solid #d4d7da;
}

.btn:active {
    border: 1px solid #388ee4;

}