* {
    background-color: #fff;
}

html {
    font-family: arial, sans-serif;
    font-size: 18px;
}

.elts{
    margin-right: 25px;
    font-family: sans-serif;
    color: gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightgray;
}

.search {
   padding: 30px;
   display: flex;
   align-content: center;
}

.mic {
    border: 2px solid black;
}

.bar {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: none;
    border-left: none;
    height: 60px;
    width: 550px;
}

#mic {
    border: 1px solid lightgray;
    border-left: none;
}

#search-icn {
    padding: 20px;
    border: 1px solid lightgray;
    border-right: none;
    position: right;
    float: right;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: rgba(51, 35, 35, 0.356);
}

#mic {
    padding: 20px;
    border: 1px solid lightgray;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: right;
    float: left;
    size: 25px;
}

.milieu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 184px;
    align-content: space-around;
}


.foot {
    /*display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-right: -40px;*/

    margin-top: -50px;
    padding: 60px;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #ffffffa1;
    position: fixed;
    bottom: 0;
}

.headbar {
    display: flex;
    align-items:flex-start;
    flex-direction: row-reverse;
    font-size: 18px;
}

li:hover {
    font-style: underline;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.btn {
    font-size: 16px;
    padding: 0 18px;
    margin: 11px 4px;
    line-height: 27px;
    height: 48px;
    font-size: 18px;
}

button {
    background-color: #f8f9fa;
    border: none;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    margin: 2%;
    border-radius: 4px;
    text-align: center;
    width: 200px;
}

.btn:hover {
    border: 0.5px solid #d4d7da;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.random {
    padding: 32px;
}

.pays {
    color: gray;
}

.langs1, .langs2 {
    color: #1a0dab;
}

.langs1:hover, .langs2:hover {
    text-decoration: underline;
}