* {
    background-color: #fff;
}

html {
    font-family: arial, sans-serif;
    font-size: 18px;
}

.elts, .elts1{
    font-family: sans-serif;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    background-color: #f2f2f2;
    justify-content:left;
}

.elts1 {
    flex-grow: 1;
}

.elts li, .elts1 li {
    padding-bottom: 0px;
    padding-left: 13px;
    padding-right: 15px;
    background-color: #f2f2f2;
    margin-left: 0px;
    font-size: 14px;
}

.search {
   padding: 15px;
   display: flex;
   align-content: center;
}


.bar {
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-right: none;
    border-left: none;
    height: 41px;
    width: 400px;
}

#mic {
    border: 1px solid rgb(226, 226, 226);
    border-left: none;
}

#search-icn {
    padding: 10px;
    padding-top:12px;
    border: 1px solid rgb(226, 226, 226);
    border-right: none;
    position: right;
    float: right;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: rgba(51, 35, 35, 0.356);
    padding-left: 15px;
    font-size: 15px;
}

#mic {
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: right;
    float: left;
    padding-bottom: 9px;
    padding-right: 12px;
}

.list {
    padding-right: 16px;
    padding-top: 16px;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

.headbar {
    display: flex;
    justify-content:right;
    padding: 15px;
    padding-top: 0px;
}


.profile {
    height: 33px;
    width: 33px;
    border-radius: 40px;
    margin: 5px;
    margin-top: 9px;
}

.grid {
    margin: 5px;
    padding-top: 8px;
    padding-right: 10px;
}

.milieu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    align-content: space-around;
}


.foot {
    padding: 11px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding-left: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    height: 80px;
}

.headbar {
    display: flex;
    align-items:flex-start;
    flex-direction: row-reverse;
    font-size: 18px;
}

li {
    list-style-type: none;
}

li:hover {
    font-style: underline;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.google-img {
    margin: 11px 0px;
}

.btn {
    font-size: 16px;
    padding: 5px;
    margin: 10px 9px;
    margin-bottom: 2px;
    line-height: 20px;
    height: 35px;
    font-size: 14px;
    width: 140px;
    color:#3c4043;
}

button {
    background-color: #f8f9fa;
    border: none;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    margin: 2%;
    border-radius: 4px;
    text-align: center;
    width: 200px;
}

.btn:hover {
    border: 0.5px solid #d4d7da;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.random {
    padding: 32px;
    font-size: 13px;
    margin: 1px 5px;
}

.pays {
    color: gray;
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
    background-color: #f2f2f2;
    padding: 11px;
    padding-left: 30px;
    font-size: 15px;
}

.langs1, .langs2 {
    color: #1a0dab;
    cursor: pointer;
    margin: 1px 4px;
}

.langs1:hover, .langs2:hover {
    text-decoration: underline;
}
